
@{
    ViewData["Title"] = "Index";
}


<h1 class="container text-center">MAIN MENU</h1>
<div class="container text-center my-1">
    <a asp-area="" asp-controller="Static" asp-action="Index" class="btn btn-primary btn-lg btn-block">
        Static sensors
    </a>
</div>
<div class="container text-center my-1">
    <a asp-area="" asp-controller="Mobile" asp-action="Index" class="btn btn-success btn-lg btn-block">
        Mobile sensors
    </a>
</div>
